<launch>
	<group ns="/stereo/right">
		<node name="camera" pkg="raspicam_node" type="raspicam_node" launch-prefix="$(find structure)/ken/start_capture_right.sh">
			<param name="width"  value="600" />
			<param name="height" value="400" />
			<param name="framerate" value="15" />
			<param name="quality" value="10"/>
			<param name="tf_prefix" value="/stereo/right"/>
			<param name="camera_frame_id" value="/stereo/right/camera"/>
			<remap from="camera/camera_info" to="camera_info" />
		</node>
	</group>

	<node name="ai_respond_node" pkg="ai" type="ai_respond_node.py" cwd="node"/>
	<node name="listen_node" pkg="speech-and-hearing" type="listen_node.py" cwd="node"/>
	<node name="speak_node" pkg="speech-and-hearing" type="speak_node.py"/>
</launch>
